.btn-1 {
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px; 
}

.modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: calc(100% - 1rem);
}

.modal-dialog {
    margin: 0 auto;
}
/* CSS for left-aligned user messages */
.message-left {
    float: left;
    clear: both;
    background-color: #f3f3f3;
    color: #333;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    max-width: 70%;
}

/* CSS for right-aligned bot messages */
.message-right {
    float: right;
    clear: both;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    max-width: 70%;
}

/* Media query for smaller screens */
@media (max-width: 576px) {
    .message-left,
    .message-right {
        max-width: 90%;
    }
}


@media (max-width: 576px) {
    .modal-dialog {
        max-width: 90%;
        margin: auto;
    }
}
